[Unit]
Description=Clash Verge Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/clash-verge-service
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
