[Unit]
Description=Snipaste Screenshot Tool
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/Snipaste
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/yukino/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/%U
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
