[Unit]
Description=Add default SSH keys to ssh-agent
After=ssh-agent.service

[Service]
Type=oneshot
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-add %h/.ssh/id_ed25519
RemainAfterExit=yes

[Install]
WantedBy=default.target

